/.idea/.idea.DtoPattern/.idea/encodings.xml
/.idea/.idea.DtoPattern/.idea/indexLayout.xml
/.idea/.idea.DtoPattern/.idea/misc.xml
/.idea/.idea.DtoPattern/riderModule.iml
/.idea/.idea.DtoPattern/.idea/vcs.xml
